# Built vignettes (HTML/PDF output)
inst/doc

# vignettes output location
/doc/

# Package metadata cache files
/Meta/

# R Project files
*.Rproj.user
*.Rproj
.Rhistory
.RData

# Large size files
*.bam
*.bai
*.sam
*.fai

# cellranger files
mkref.log

# folder
LUCA/






