{
    organism: "barley"
    genome: ["MOREX3_ARC"]
    input_fasta: ["/AAGI_data/00_nectars_data/A_PROJECTS/sc_ShardSplitRef/04_Make_package/testing_outputs/C1_Fa_SPLIT_fixed.fasta"]
    input_gtf: ["/AAGI_data/00_nectars_data/A_PROJECTS/sc_ShardSplitRef/04_Make_package/testing_outputs/B1_FINAL_MODIFIED_fixed_GTF_barley_1.2.gtf"]
    non_nuclear_contigs: ["Mt-0-525599", "Pt-0-115974"]

}
